<launch>
    <!-- A) Raw map: for visualization only -->
    <node pkg="map_server" type="map_server" name="map_server_raw"
          args="$(find sunray_swarm_sim)/maps/map.yaml"
          output="screen">
        <remap from="map" to="map_raw"/>
    </node>

    <!-- B) Inflated map: for planning/costmap -->
    <node pkg="map_server" type="map_server" name="map_server_inflated"
          args="$(find sunray_swarm_sim)/maps/map_inflated_0.50m.yaml"
          output="screen">
        <remap from="map" to="map"/>
    </node>

    <!-- TF: world -> map -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_map_tf"
          args="0 0 0 0 0 0 world map 10" />

    <!-- relay inflated /map -> /rmtt_i/map (move_base/ORCA use these) -->
    <node pkg="topic_tools" type="relay" name="relay_map_rmtt_1"
          args="/map /rmtt_1/map" output="screen" />
    <node pkg="topic_tools" type="relay" name="relay_map_rmtt_2"
          args="/map /rmtt_2/map" output="screen" />
    <node pkg="topic_tools" type="relay" name="relay_map_rmtt_3"
          args="/map /rmtt_3/map" output="screen" />
    <node pkg="topic_tools" type="relay" name="relay_map_rmtt_4"
          args="/map /rmtt_4/map" output="screen" />
</launch>