<launch>
    <!-- 0 for vrpn，1 for map，3 for odom -->
    <arg name="pose_source" default="3"/>

    <!-- 1号无人机 -->
    <!-- 第一个节点：启动1号无人机控制节点 - rmtt_control_node_1 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_1" output="screen" >
        <param name="agent_id" type="int" value="1" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 2号无人机 -->
    <!-- 第一个节点：启动2号无人机控制节点 - rmtt_control_node_2 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_2" output="screen" >
        <param name="agent_id" type="int" value="2" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 3号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_3 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_3" output="screen" >
        <param name="agent_id" type="int" value="3" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 4号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_4 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_4" output="screen" >
        <param name="agent_id" type="int" value="4" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>


    <!-- 5号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_5 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_5" output="screen" >
        <param name="agent_id" type="int" value="5" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 6号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_6 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_6" output="screen" >
        <param name="agent_id" type="int" value="6" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 7号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_7 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_7" output="screen" >
        <param name="agent_id" type="int" value="7" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 8号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_8 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_8" output="screen" >
        <param name="agent_id" type="int" value="8" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>
</launch>

